/*Fichier CSS3 */

.divContainerF1 {
	display: flex ;
	justify-content: flexstart;  /* justification avec espace  (non visible avec flex:1) */
	border : 1px solid red;
	margin: 0 0 0.5em 0;
}
.divColonneF1 {
	flex-direction:column;
	border: 1px solid green;
	flex:0; /* 1 = Etirement en fonction de la place dispo */
}
.divCaseF1{
	text-align: center;
	width: 4em;
	border: 1px solid blue;
	padding: 1em 0.5em 1em 0.5em;
	margin: 0 1em 0 1em;
}


.divContainerPA{ /* Petites annonces */
	display: flex;
	flex-direction:row;
	border: 1px solid red;
	margin: 0 0 0 0;
}
.divColumnPA{
	flex-direction:column;
	border: 1px solid green;
}
.imgPA{
	border: 1px solid blue;
	height: 100px;
	width: 200px;
}